<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VoteIT"
            connectionString="Data Source=devlabpm.westeurope.cloudapp.azure.com;Initial Catalog=PSIM1619I_RodrigoRego_2219113;Persist Security Info=True;User ID=PSIM1619I_RodrigoRego_2219113;Password=2dM8B2B5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>